<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Pietà</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" type="text/css" /> 
    <link rel="stylesheet" href="css/slick.css" type="text/css" />   
    <link rel="stylesheet" href="css/tooplate-simply-amazed.css" type="text/css" />
<!--

Tooplate 2123 Simply Amazed

https://www.tooplate.com/view/2123-simply-amazed

-->
</head>

<body>
    <div id="outer">
        <header class="header order-last" id="tm-header">
               
			   
        </header>
        
        <button class="navbar-button collapsed" type="button">
            <span class="menu_icon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
        </button>
        
        <main id="content-box" class="order-first">

		
            <div class="banner-section section parallax-window" data-parallax="scroll" data-image-src="img/section-1-bg.jpg" id="section-1">
                <div class="container">
                    <div class="item">
                        <div class="bg-blue-transparent logo-fa"><span><i class="fas fa-2x fa-atom"></i></span> Pyetà</div>
                        <div class=" simple content "  >
						<form class=""  >
                          <div class="mb-3 bg-blue-transparent">
                            <label for="exampleInputEmail1" class="form-label">Usuario</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            
                            </div>
							
                           <div class="mb-3 bg-blue-transparent">
                              <label for="exampleInputPassword1" class="form-label">Senha</label>
                              <input type="password" class="form-control" id="exampleInputPassword1">

                           </div>
                           
                         <button type="submit" class="btn btn-outline-primary" style="position: relative; top: -10px;">Submit</button>
                         </form>
						 </div>
                    </div>
                </div>
            </div>
        <br>
            
                <footer class="footer container container-2">
                    <div class="row"> 
                        <p class="col-sm-7">RAGENEMUNDOS 2024 Develop</p>
                        
                    </div>
                </footer>
            </section>
        </main>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.singlePageNav.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>